*{
    box-sizing: border-box;
}
body{
    font-family: "Comic Sans MS", "Comic Sans", Georgia, 'Times New Roman', Times, sans-serif, serif;
}
.container{
    position: relative;
}
.title{
    text-align: center;
    margin-bottom: 30px;
}
.column{
    width: 100%;
    display: inline-block;
}
.col-item{
    float: left;
}
.col-content{
    border: black 2px solid;
    position: relative;
    padding: 15px;
    background-color: rgb(168, 168, 168);
    margin: 10px;
}
.col-title{
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    border: black 2px solid;
    width: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
.chicken{
    background-color: rgb(248, 134, 149);
}
.beef{
    background-color: rgb(204, 57, 77);
    color: white;
}
.sushi{
    background-color: rgb(242, 255, 170); 
}

@media (min-width: 992px){
    .col-lg-4 {
        width: 33.3%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 767px){
    .col-s-12{
        width: 100%;
    }
}
